<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Signup</title>
  <link rel="stylesheet" href="../Public/signup.css" />
</head>
</head>

  <div class="login-container">
    <h2>Sign Up</h2>
    <div class="error-message" id="errorMsg"></div>
    <form id="signupForm">
      <input type="text" id="username" placeholder="Username" required>
      <input type="text" id="email" placeholder="Email" required>
      <input type="password" id="password" placeholder="Password" required>
      <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
      <button type="submit">Sign Up</button>
    </form>
  </div>

  <script src="../Controller/signup.js"></script>
</body>
</html>
